<div class="page-header">
<h1><%= @board.title %></h1>
<%= image_tag(@board.image.normal.url) %>
 <ul class="actions">
  <li><%= link_to fa_icon("pencil") + " Edit Board", edit_board_path(@board), class: "btn btn-primary" %></li>
  <li><%= link_to fa_icon("trash")  + " Delete Board", board_path(@board), method: :delete, data: { confirm: "Are you sure you want to delete this project?" }, class: "btn btn-danger" %>
</li>
  </ul>
  <h2>Pins</h2>
  <ul class="actions">
    <li><%= link_to "New Pin", new_board_pin_path(@board), class: "new" %></li>
  </ul>
  <ul>
    <div id = "pin">
    <% @board.pins.each do |pin| %>
      <%= link_to pin.name, [@board, pin ] %> 
    <% end %>
  </div>
  </ul>
</div>

